/* space between navbar and body content */
.container-body {
  padding-top:1em;
}

p {
  color: #1a1a1a;
  font-size:1.05em;
}

/* navbar */
#special-nav{
  background-color: #4d435e !important;
}

.navbar{
  max-height: 6em;
}

.nav-link{
  font-size: 1.3em;
}

.navbar-brand a{
  font-size: 1.3em;
}

/* jumbotron */
.jumbotron{
  background-color: #ebe9ee !important;
}

/* list group on resources page */
.list-group-item.active {
  background-color: #9c92ad !important;
}

.list-group div {
  background-color:#4d435e !important;
  color:#ffffff;
}

/* pagination on resources page */
.pagination-page-info {
	color: #1a1a1a;
  font-size:1.05em;
}

.pagination {
  padding: 0.75rem 1.5rem;
  font-size: 1.09375rem;
  line-height: 1.5;
}

.page-item {
	border: 1px solid #4d435e;
}

.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-item.active .page-link{
  background-color:#4d435e !important;
}

.page-link:hover {
  background-color: #9c92ad !important;
}

/* space betwenn search bar and button on resources page */
.sb {
  margin-left:1em;
}

.btn-outline-primary {
  color: #4d435e !important;
  background-color: transparent;
  background-image: none;
  border-color: #4d435e !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #4d435e !important;
  border-color: #4d435e !important;
}

/* change color of footer horizontal rule */
footer > hr {
  border-top: 1px solid #4d435e;
}

.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
  border: 1px solid #4d435e;
}
