{% extends "layout.html" %}
{% set active_page = "index" %}
{% block content %}

  <div class="jumbotron">
    <h1 class="display-3">ReproCrawl</h1>
    <p class="lead">The search engine for reproducibility! In our search, you can facet by discipline, type (e.g. Article or Workshop), and institutional affiliation (if any, like 'Grant Foundation' !)</p>
    <p>The information in ReproCrawl comes from the Domain Discovery Tool and ACHE, two web-crawling tools created at New York University. The front-end was built using Flask, Elasticsearch, and Bootstrap4.</p>
  </div>

{% endblock %}
