<!DOCTYPE html>
<html>
  <head>
    <title>ReproCrawl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="special-nav">
      <div class="container">
        <a class="navbar-brand special-brand" href="{{ url_for('index') }}">ReproCrawl</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ 'active' if active_page == 'index' else '' }}">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item {{ 'active' if active_page == 'search' else '' }}">
              <a class="nav-link" href="{{ url_for('resources') }}">Search</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container container-body">
      {% block content %}

      {% endblock %}

      <footer class="footer">
        <hr/>
        <div class="container">
          <p>Place sticky footer content here.</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.js') }}"></script>

  </body>
</html>
