{% extends "layout.html" %}
{% set active_page = "search" %}

{% macro facet(name) -%}
  {% if name in active_tags %}
    <li class="list-group-item active"><a href="{{ remove_tag_link(name) }}" class="d-flex justify-content-between align-items-center">{{name}}<span class="badge badge-primary badge-pill">{{ tags[name] }}</span></a></li>
  {% else %}
    <li class="list-group-item "><a href="{{ add_tag_link(name) }}" class="d-flex justify-content-between align-items-center">{{name}}<span class="badge badge-primary badge-pill">{{ tags[name] }}</span></a></li>
  {% endif %}
{%- endmacro %}

{% block content %}

  <h1 class="text-center">Find reproducibility-related materials</h1>
  <p>On the sidebar, you can filter by domain, type of materials indexed, or institutional affiliation (if any). You can do a full-text search in the search bar and then filter by facets on the sidebar as well!</p>
  <hr/>

  <div class="row">

    <!--COLUMN WITH FACETS -->
    <div class="col-3">

      <ul class="list-group">
        <div class="d-flex w-100 justify-content-between list-group-item flex-column align-items-start"><h5 class="mb-1">DOMAIN</h5></div>

        {{ facet('General') }}

        {{ facet('Biomedical') }}

        {{ facet('Biology') }}

        {{ facet('Chemistry') }}

        {{ facet('Computer Science') }}

        {{ facet('Geoscience') }}

        {{ facet('LIS') }}

        {{ facet('Math') }}

        {{ facet('Medical') }}

        {{ facet('Physics') }}

        {{ facet('Psychology') }}

        {{ facet('Social Science') }}
    </ul><br/>

    <ul class="list-group">
      <div class="d-flex w-100 justify-content-between list-group-item flex-column align-items-start"><h5 class="mb-1">TYPE</h5></div>

      {{ facet('Article') }}

      {{ facet('Educational Materials') }}

      {{ facet('Guidelines') }}

      {{ facet('Popular Media') }}

      {{ facet('Tool') }}

      {{ facet('Workshop') }}
    </ul><br/>

    <ul class="list-group">
      <div class="d-flex w-100 justify-content-between list-group-item flex-column align-items-start"><h5 class="mb-1">INSTITUTION</h5></div>

      {{ facet('Grant Foundation') }}

      {{ facet('Scholarly Society') }}

      {{ facet('University') }}
    </ul>

  </div>
  <!--end facet column-->

  <!--COLUMN WITH SEARCH BAR + RESULTS -->
  <div class="col-9">

    <form class="input-group" method="GET" action="{{ url_for('resources') }}">
      <input class="form-control" name="query" placeholder="Search" value="{{query}}" type="text"/>
      <button class="btn btn-outline-primary sb" type="submit">Search</button>
    </form><br/>

    {{ pagination.info }}<br/>

    {% for item in items %}
    <div class="card border-primary mb-3">
      <div class="card-body">
        <h4 class="card-title"><a href="{{item.url}}">{{ item.title }}</a></h4>
        <p class="card-text">{% for tag in item.tag %}{% if not loop.first %},{% endif %} {{ tag }}{% endfor %}</p>
      </div>
    </div>
    {% endfor %}

    {{ pagination.links }}

    </div>
    <!--end search + results column-->
  </div>
  <!--end row-->

{% endblock %}
